.verified {
    color: white;
    background-color: green;
    padding: 4px;
    width: 300px;
    border-radius: 5px;
    margin-top: 5px;
}

.unverified {
    color: white;
    background-color: red;
    padding: 4px;
    width: 300px;
    border-radius: 5px;
    margin-top: 5px;
}