h1 {
    color: blue;
}

h2 {
    color: red;
}

h6 {
    background-color: green;
    font-style: italic;
        
}

p.omraade4, h6, p {
    font-style: italic;
    
}

p.omraade3, span {
    background-color: blue;

}



