#content {
       
    width: 900px;
    background:#fff;
    padding: 20px;
    padding-top: 10px;
    font-size: 18px;
    color: #444;
    margin: 10px auto;
    border-radius: 20px;

    max-height: 400px;
    overflow: hidden;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;

}

#content.open {
    max-height: 1000px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more {
    background-color: #34b4a7;
    color: #fff;
    display: block;
    width: 140px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px ;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #34b4a7;
    padding: 50px 10px 20px 50px;
}

