.container_gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0px 10px;
    
}

.container_gallery .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    
}

.container_gallery .box .dream {
    display: flex;
    flex-direction: column;
    align-items: center;
}





